<head>
  <div align="center">
  <img class="" alt="お祝い金をもらうまでの3ステップ" src="https://relax-job.com/images/user_frontend/pc/img_admission-2.png">
</div>
</head>

<div style="width:50%; margin:0 auto;" align="center">
<h1><font size="5">新規登録</font></h1>

 <%= form_for @user do |f| %>

<div style="width:50%; margin:0 auto;" align="center">
<form action="new_user_through" method="post" >
<input name="authenticity_token" type="hidden" value="1234" />
  <table class="table table-set--pt1 table--thd-20 w-block txt_size_12">
      <colgroup>
        <col style="width:200px;">
      </colgroup>
      <tbody>

         <tr>
           <th>
             <%= f.label :"氏名" %>
              <%= f.text_field :name %>
            <% if @user.errors.any? %>
            <%= @user.errors.messages[:name][0] %>
            <% end %>
          </th>
        </tr>

        <tr>
          <th><%= f.label :"性別" %>
            <%= f.select :gender, User.genders.keys %>
            <% if @user.errors.any? %>
            <%= @user.errors.messages[:gender][0] %>
            <% end %>
          </th>
        </tr>
        <tr>
          <th>
          <%= f.label :"生年月日" %>
           <%= f.date_select :birthday, start_year: 1950, end_year: 2016 %></tr>
          </th>
        </tr>

        <tr>
          <th>
            <%= f.label :"出身地" %>
            <%= f.text_field :hometown %>
            <% if @user.errors.any? %>
            <%= @user.errors.messages[:hometown][0] %>
            <% end %>
          </th>
        </tr>
        <tr>
          <th>
          <%= f.label :"経歴" %>
          <%= f.select :career, User.careers.keys %>
        </th>
      </tr>

      <tr>
        <th>
        <%= f.label :"希望職種" %>
        <%= f.select :job_objective, User.job_objectives.keys %>
        </th>
      </tr>

      <tr>
      <th>
      <%= f.label :"PR文" %>
          <%= f.text_area :pr %>
          <% if @user.errors.any? %>
          <%= @user.errors.messages[:pr][0] %>
          <% end %>
        </th>
        </tr>

      <tr>
        <th><%= f.label :"E-mail" %>
        <%= f.email_field :email %>
        <% if @user.errors.any? %>
        <%= @user.errors.messages[:email][0] %>
        <% end %>
      </th>
      </tr>

        <tr>
        <th><%= f.label :"パスワード" %>
        <%= f.password_field :password %>
        <% if @user.errors.any? %>
        <%= @user.errors.messages[:password][0] %>
        <% end %>
      </th>
      </tr>
    </tbody>
  </table>
</div>
    <div>
      <%= f.submit "新規登録" %>
      <%= link_to "TOPに戻る",grandtops_path%>
    </div>

<% end %>
