<h1>Client#show</h1>
<p>

  <li><%= @client.company_name %>
    <%= @client.corporate_form %>
    <%= @client.contract_status %>
    <%= @client.pulling_down %>
    <%= @client.address %>
    <%= @client.CEO %>
    <%= @client.job_recruiter %>
    <%= @client.number_hired %>
  </li>

</p>
