<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>リジョブ - 美容・治療・リラクゼーションの求人・転職・募集</title>
<meta name="description" content="美容・セラピスト・エステの求人を探すなら「リジョブ」！美容・治療・エステに業界の求人が盛りだくさん。東京、神奈川、埼玉、千葉など首都圏から全国に到るまで、美容・リラクゼーション・治療の求人情報やお仕事が探せます。" />
<meta name="keywords" content="美容,リラクゼーション,治療,求人,募集,アルバイト,転職" />
<meta property="og:image" content="https://relax-job.com/images/user_frontend/pc/logo_ogimage.png" />
<meta name="robots" content="noarchive" />
<meta name="apple-itunes-app" content="app-id=1092051887" />

    <link rel="canonical" href="https://relax-job.com">
  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="リジョブ">
  <!--<link rel="apple-touch-icon-precomposed" href="#">-->

  <!-- Tile icon for Win8 (144x144 + tile color) -->
  <meta name="msapplication-TileImage" content="/images/shared/favicon/apple-touch-icon-144x144.png">
  <meta name="msapplication-TileColor" content="#fff">

  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- facebook share -->

  <link rel="stylesheet" media="all" href="/assets/user_frontend/pc/application-765ad29b1f81b32813190eac8b604ab4.css" />
  <link rel="stylesheet" media="all" href="/assets/user_frontend/font/fontello-3901479523b40f2dee98b9866319a3c4.css" />
  <link rel="apple-touch-icon" type="" href="/images/user_frontend/favicon/apple-touch-icon-57x57.png" sizes="57x57" />
<link rel="apple-touch-icon" type="" href="/images/user_frontend/favicon/apple-touch-icon-60x60.png" sizes="60x60" />
<link rel="apple-touch-icon" type="" href="/images/user_frontend/favicon/apple-touch-icon-72x72.png" sizes="72x72" />
<link rel="apple-touch-icon" type="" href="/images/user_frontend/favicon/apple-touch-icon-76x76.png" sizes="76x76" />
<link rel="apple-touch-icon" type="" href="/images/user_frontend/favicon/apple-touch-icon-114x114.png" sizes="114x114" />
<link rel="apple-touch-icon" type="" href="/images/user_frontend/favicon/apple-touch-icon-120x120.png" sizes="120x120" />
<link rel="apple-touch-icon" type="" href="/images/user_frontend/favicon/apple-touch-icon-144x144.png" sizes="144x144" />
<link rel="apple-touch-icon" type="" href="/images/user_frontend/favicon/apple-touch-icon-152x152.png" sizes="152x152" />
<link rel="apple-touch-icon" type="" href="/images/user_frontend/favicon/apple-touch-icon-180x180.png" sizes="180x180" />
<link rel="icon" type="image/png" href="/images/user_frontend/favicon/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="/images/user_frontend/favicon/android-chrome-192x192.png" sizes="192x192" />
<link rel="icon" type="image/png" href="/images/user_frontend/favicon/favicon-96x96.png" sizes="32x32" />
<link rel="icon" type="image/png" href="/images/user_frontend/favicon/favicon-16x16.png" sizes="16x16" />
<link rel="manifest" type="" href="/images/user_frontend/favicon/manifest.json" />

  <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="NdhRyY3edVJ1BMtZESJG0S343TeO+egS9dn9r1f3pevOMOEpC8pCIMsQ34+UdiIV9FmkAvarVxz0aNzH3GpH2w==" />


</head>

<body data-controller="Top" data-action="index" data-site="biyo">

    <script>
      dataLayer = [{
          'device': 'desktop',
      }];
    </script>

  <!-- Google Tag Manager -->
  <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-MNMX9Q"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-MNMX9Q');</script>
  <!-- End Google Tag Manager -->

<header>
  <div class="header">

    <div class="header-top">
      <div class="container">
        <ul class="header-top__navi">
          <li><a ><%= link_to '管理画面',v2s_index_path %></a></li>
          <li><a ><%= link_to 'ログイン',login_path %></a></li>
            <li><a><%= link_to '企業管理画面',client_managements_index_path %></a></li>
        </ul>
      </div>
    </div>

    <div class="header-middle container clear">
      <a class="header-middle__logo" href="/"><img class="logo_header" src="https://relax-job.com/images/user_frontend/pc/logo_header.png" alt="Logo header"></a></a>
      <div class="header-middle__dropdown">
        <span class="header-middle__dropdown__btn js_dropdown__menu">業種から探す</span>
      </div>

      <ul class="header-middle__nav">
        <li>
          <a href="/job_keep" rel="nofollow"><i class="icon-attach"></i>キープ
            <!-- TODO: サイトログイン画面でNoMethodsError 要修正 -->
          </a>
        </li>
          <li><a href="/job_browse"><i class="icon-clock"></i>閲覧履歴</a></li>
          <li><a rel="nofollow,leanModal" href=".memberRegistrationModal"><i class="icon-paper-plane"></i>スカウト管理</a></li>
          <li><a href="/mypage/registration/new" class="crrent" rel="nofollow"><i class="icon-registration"></i>会員登録</a></li>
      </ul>

      <!-- modal部分 -->
      <div class="memberRegistrationModal popDiv_id-pt2">
        <div id="modal-content">
          <a href="javascript:void(0)" class="modal_close"></a>
          <hr class="modal_header-bar">
          <h2 class="modal_heading2-pt2">この機能はリジョブ会員限定です。</h2>
          <div class="row row-mg area01">
            <div class="cols_6">
              <h3 class="modal_heading3-pt1">リジョブに登録すると！</h3>
                <ul>
                  <li>企業からスカウトが届く</li>
                  <li>最新の求人をメールでお知らせ！</li>
                  <li>お祝い金がもらえる！</li>
                </ul>
            </div>
            <div class="cols_6">
              <img src="/images/user_frontend/pc/img_entry-01.png" alt="">
            </div>
          </div>
        </div>
        <div class="modal_box02 p_20 t_center">
          <a href="/mypage/registration/new" class="btn btn--pt1 btn--large txt_size_14 w-280px">無料会員登録</a>
        </div>
        <div class="modal_box02 p_10 t_center">
          すでに会員登録済みの方はこちらから<a href="/mypage/login">ログイン</a>
        </div>
      </div>

    </div>
      <div class="dropdown__menus">
        <div class="table_row container">
            <div class="cols_6">
              <dl class="dropdown__category dropdown__category__biyo">
                <dt><a href="/biyo">美容</a></dt>
                <dd>
                  <ul class="ul-inline ul-inline--cut">
                      <li><a href="/esthe">エステ</a></li>
                      <li><a href="/nail">ネイリスト</a></li>
                      <li><a href="/eyelist">アイリスト</a></li>
                      <li><a href="/biyoshi">美容師・理容師</a></li>
                      <li><a href="/biyobuin">美容部員</a></li>
                  </ul>
                </dd>
              </dl>
            </div>
            <div class="cols_6">
              <dl class="dropdown__category dropdown__category__relaxation">
                <dt><a href="/relaxation">リラクゼーション</a></dt>
                <dd>
                  <ul class="ul-inline ul-inline--cut">
                      <li><a href="/therapist">セラピスト</a></li>
                      <li><a href="/aroma">アロマ</a></li>
                      <li><a href="/massage">マッサージ</a></li>
                      <li><a href="/reflexology">リフレクソロジー</a></li>
                      <li><a href="/seitai">整体師</a></li>
                      <li><a href="/chiropractic">カイロ</a></li>
                  </ul>
                </dd>
              </dl>
            </div>
              </div><div class="table_row container">
            <div class="cols_6">
              <dl class="dropdown__category dropdown__category__chiryo">
                <dt><a href="/chiryo">治療</a></dt>
                <dd>
                  <ul class="ul-inline ul-inline--cut">
                      <li><a href="/jusei">柔道整復師</a></li>
                      <li><a href="/shinkyu">鍼灸師</a></li>
                      <li><a href="/massageshi">あん摩マッサージ指圧師</a></li>
                  </ul>
                </dd>
              </dl>
            </div>
            <div class="cols_6">
              <dl class="dropdown__category dropdown__category__sports">
                <dt><a href="/sports">スポーツ・フィットネス</a></dt>
                <dd>
                  <ul class="ul-inline ul-inline--cut">
                      <li><a href="/yoga">ヨガ</a></li>
                      <li><a href="/fitness">フィットネス</a></li>
                  </ul>
                </dd>
              </dl>
            </div>
        </div>
      </div>
  </div>
  <!-- .header -->
</header>

<% provide(:title, "ログイン画面") %>
<h1>Log in</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.submit "ログイン", class: "btn btn-primary" %>
    <% end %>
    <p>リジョブは初めてですか？<%= link_to "新規登録", signup_path %></p>
      <%= link_to "TOPに戻る",grandtops_path%>
  </div>
</div>
